<div id="user" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent"
         fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-16" [routerLink]="'/apps/e-commerce/orders'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start"
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            Tax
          </div>

        </div>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <mat-tab-group fxLayout="column" fxFlex>

          <mat-tab label="Tax Set-Up" #tab1>

            <div class="order-details tab-content p-24" fusePerfectScrollbar>

              <div class="section pb-48">

                <!-- REACTIVE FORM EXAMPLE -->

                <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column"  name="form" [formGroup]="form">

                  <div class="h2 mb-24">Tax Creation</div>

                  <div fxLayout="row wrap" >
                   
                    <div appearance="outline" fxFlex class="pr-4">
                      <label>Tax Type</label><br />
                      <mat-radio-group aria-label="Select an option" formControlName="taxType">
                        <mat-radio-button value="gst">GST</mat-radio-button>
                        <mat-radio-button value="tds">TDS</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  
                  </div>

                  <div fxLayout="row wrap" >
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                      <mat-label>Tax Label</mat-label>
                      <input type="text" matInput formControlName="taxLabel" required>
                      <mat-error>Tax Label is required!</mat-error>
                    </mat-form-field>                    
                  </div>

                  <div fxLayout="row wrap" >
                    <mat-form-field appearance="outline" fxFlex class="pr-4">
                      <mat-label>Effective Dates</mat-label>
                      <input type="text" matInput formControlName="effectiveDates" required>
                      <mat-error>Effective Dates is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex class="pr-4">
                      <mat-label>Tax Name</mat-label>
                      <input type="text" matInput formControlName="taxName" required>
                      <mat-error>Tax Name is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex class="pr-4">
                      <mat-label>Tax Value</mat-label>
                      <input type="text" matInput formControlName="taxValue" required>
                      <mat-error>Tax Value is required!</mat-error>
                    </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button type="submit" (click)="save()" color="accent">
                      Save
                    </button>
                    <button mat-raised-button type="button" color="basic" (click)="clear()">
                      Clear
                    </button>
                  </div>

                </form>

              </div>

            </div>
          </mat-tab>

          <mat-tab label="Taxes List">
            <div class="products tab-content p-24 " fusePerfectScrollbar>
             
              <grid [dataSet]="rowData" [gridColDef]="columnDef" (selectedRows)="selectedRows($event)"></grid>

            </div>
          </mat-tab>

        </mat-tab-group>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>



